@font-face { font-family: Twitchy; src: url('./Twitchy.TV.otf'); } 

#head {
  text-align: center;
  font-family: Twitchy;
  font-size: 50px;
  text-shadow: 10px 10px 10px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

